@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
body {
  color: #fff;
  background-color: #25373D;
  font-family: 'Muli';
  height: 100vh;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; }
  body::-webkit-scrollbar {
    display: none; }
  body *::selection {
    color: inherit;
    background: rgba(0, 0, 0, 0.1); }

.elastic {
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.title {
  font-family: 'Oswald';
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  font-size: 7vw; }
  .title .glyphicon {
    color: #fff; }

.parallax-window {
  height: 100vh; }
  .parallax-window h1 {
    margin: 0;
    padding: 20px; }

.cl-section {
  background: transparent; }
  .cl-section:nth-of-type(2n) {
    background-color: transparent; }

.minibtn--container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 27vh;
  display: table; }
  .minibtn--container * {
    margin-left: 2.5px;
    margin-right: 2.5px; }
  .minibtn--container .minibtn {
    position: relative;
    transition: all .3s ease;
    position: relative;
    border: 3px #fff solid;
    color: #fff;
    background: transparent;
    font-family: 'Montserrat';
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2vw;
    padding: 12px 32px 12px 32px; }
    .minibtn--container .minibtn:hover {
      cursor: pointer;
      background: #fff;
      border: 3px #fff solid;
      color: #000; }
      .minibtn--container .minibtn:hover a {
        color: black; }
    .minibtn--container .minibtn a {
      color: white; }

.minibtn.arrow {
  padding: 12px; }

mark {
  background-color: rgba(0, 0, 0, 0.2);
  color: inherit; }

#menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  background: #fff;
  color: #000;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: .8vw;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding: 0px;
  border: 0px; }

#menu span {
  display: block;
  color: #000;
  text-decoration: none;
  width: auto;
  padding: 5px;
  position: relative; }

@media screen and (max-width: 680px) {
  .minibtn--container {
    display: table; }
    .minibtn--container .minibtn.arrow {
      visibility: hidden;
      opacity: 0;
      display: hidden; } }
